* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* -- Helpers -- */
.center_by_position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center_items_by_flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  width: 95%;
  margin: auto;
  position: relative;
  border: 1px solid darkgray;
}
.line::after {
  content: '◈';
  position: absolute;
  top: 40%;
  left: calc(100% + 5px);
  transform: translate(0, -60%);
  color: darkgray;
  font-size: 1.5em;
} 
.line::before {
  content: '◈';
  position: absolute;
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(0, -60%);
  color: darkgray;
  font-size: 1.5em;
} 
/*---------------------------------*/
body {
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
}

/*-- loading page --*/
#loading_page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
#loading_page.close #loading_page_top{
  top: -50%;
  transition: 0.5s ease-in-out 1s;
}
#loading_page.close #loading_page_bottom{
  bottom: -50%;
  transition: 0.5s ease-in-out 1s;
}
#loading_page_top,
#loading_page_bottom {
  width: 100%;
  height: 50%;
  background: #efefef;
  position: absolute;  
  left: 0;
}
#loading_page_top {
  top: 0;
}
#loading_page_bottom {
  bottom: 0;
}
#loading_page p {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  border: 1px solid;
  background-image: linear-gradient(150deg, #e3e3e3, #303841, #303841, #303841, #303841);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation:  loading 1s ease-in infinite alternate;
}
#loading_page.close p {
  transition: 1s;
  opacity: 0;
}
@keyframes loading {
  0% {
    background-image: linear-gradient(150deg, #e3e3e3, #303841, #303841, #303841, #303841);
  }
  25% {
    background-image: linear-gradient(150deg, #303841,#e3e3e3,  #303841, #303841, #303841);
  }
  50% {
    background-image: linear-gradient(150deg, #303841, #303841,#e3e3e3,  #303841, #303841);
  }
  75% {
    background-image: linear-gradient(150deg, #303841, #303841, #303841,#e3e3e3,  #303841);
  }
  100% {
    background-image: linear-gradient(150deg, #303841, #303841, #303841, #303841,#e3e3e3);
  }
}

/* -- navigation bar -- */
nav {
  width: 300px;
  max-height: 100vh;
  position: sticky;
  top: 0;

  --item_width: calc(300px / 3 * 2);
}

#personal_img {
  width: var(--item_width);
  margin: 50px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
  padding: 5px;
  display: flex;
  border-radius: 30px;
  position: relative;
  background-color: #fff;
}
#personal_img img {
  width: 100%;
  border-radius: 25px;
}
#personal_img::before {
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid #303841;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(20deg);
  z-index: -1;
  border-radius: 30px;
}
#personal_img::after {
  content: '';
  width: 100%;
  height: 100%;
  border: 4px solid lightgray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(10deg);
  z-index: -1;
  border-radius: 30px;
}
#nav_links {
  list-style-type: none;
  margin: 0;
  width: 100%;
  position: relative;
  text-align: center;
}
#nav_links::after {
  content: '';
  height: calc(100% + 50px);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid lightgray;
  z-index: -1;
}
#nav_links li {
  width: var(--item_width);;
  border: 1px dashed gray;
  margin: 0 auto 25px auto;
  text-align: center;
  font-size: 1.1em;
  padding: 6px;
  border-radius: 30px;
  background-color: #fff;
}
#nav_links li a {
  text-decoration: none;
  color: #000;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 25px; 
  display: inline-block;
  padding: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) -5px 5px 5px;
  cursor: pointer;
}
#nav_links li.active a{
  background-color: #fff;
  box-shadow: none;
  color: #4761E6;
  pointer-events: none;
  user-select: none;
}
#nav_links li a:hover {
  color: #4761E6;
  transition: 0.1s linear;
}
#nav_links #mode {
  width: auto;
  display: inline-block;
  border: 0;
  margin: 0;
  text-align: center;
  background-color: #fff;
  padding: 0;
  color: gray;
  font-size: 2em;
}

/* -- page content -- */
#page_content {
  flex-grow: 1;
  padding: 0 50px;
}
/* -- header text section -- */
#header_text {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  color: red
}
#name {
  font-size: 1.5em;
  font-weight: normal;
  color: hsl(0, 0%, 50%);
  display: inline-block;
}
#name span {
  font-weight: bold;
  color: #303841;
}
#job {
  font-size: 3em;
  color: #4761E6;
  text-shadow: -3px 3px #303841,
               -7px 7px lightgray;
  margin: 5px 0 20px 0;
  display: inline-block;
}
#header_quote {
  line-height: 1.5em;
  font-size: 1.5em;
  color: hsl(0, 0%, 50%);
}

/* -- project section -- */
.section_title {
  margin: 50px auto;
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px #303841,
               1px 0px #303841,
               -1px 0px #303841,
               0px -1px #303841;
  font-size: 1.5em;
}
.project {
  max-width: 800px;
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin: 50px auto 100px auto;
  border: 1px groove lightgray;
 }
.project:nth-of-type(odd) {
  flex-direction: row-reverse;
}
.project img {
  width: 50%;
  border-radius: 10px;
  border: 1px dashed lightgray;
}
.projectText {
  width: 50%;
  flex-direction: column;
}
h2 {
  text-align: center;
  font-size: 1.8em;
}
h2 span {
  color: #fff;
  font-size: 0.8em;
  text-shadow: 1px 0px 0px  gray, 
               -1px -0px 0px gray,
               0px 1px 0px  gray,
               0px -1px 0px gray;
  display: inline-block;
  margin-top: 15px;
}
.projectText p {
  font-size: 1.5em;
  color: gray;
  margin: 50px 0 50px 0;
}
.link_button {
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #4761E6;
  background: #fff;
  box-shadow: 3px 3px 0px lightgray;
  border: 1px solid lightgray;
  border-radius: 10px 0px;
  transform: skew(-20deg);
  position: relative;
}
.link_button::after {
  content: '⟶';
  position: absolute;
  bottom: 0;
  right: 10px;
}
.link_button:hover::after {
  right: 0;
  transition: 0.1s ease-in-out;
}
.details_link {
  padding: 10px 20px;
  margin-top: 15px;
  font-size: 0.9em;
  color: gray;
}
.details_link:hover {
  color: #4761E6;
  transition: 0.1s;
}

/* -- contact form  -- */
form {
  margin: 100px auto 50px auto;
  width: 500px;
  text-align: center;
}
form p {
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-weight: bold;
  line-height: 1.5em;
  border: 2px dashed lightgray;
  padding: 25px 0;
  margin-bottom: 50px;
  border-radius: 15px;
}
form p span {
  color: #303841;
  text-shadow: -3px 3px lightgray;
  font-size: 1.2em;
}
input,
textarea {
  display: block;
  width: 100%;
  margin: 25px 0;
  padding: 5px 10px;
  font-size: 1.2em;
  border: 4px ridge lightgray;
  outline: 0;
  resize: vertical;
}
input:focus,
textarea:focus {
  border: 4px ridge #4761E6;
}
input:hover,
textarea:hover {
  background: rgba(211, 211, 211, 0.5);
  transition: 0.1s;
}
#contact div:not(#phone) {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
#contact div:not(#phone) a {
  width: 50px;
  display: block;
  border-radius: 50%;
  padding: 4px;
  margin: 0 10px;
}
#contact div:not(#phone) a:hover {
  transition: 0.1s ease-in-out;
  border: 4px dashed gray;
}
#contact img {
  width: 100%;
  display: block;
}

#phone {
  text-align: center;
  color: gray;
  margin-bottom: 20px;
}
#phone a {
  color: gray;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold
}
#phone a:hover {
  color: #4761E6;
}

/* -- reponsive behavior -- */
#toggle_nav {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  background: #fff;
  cursor: pointer;
  font-size: 2.2em;
  border-radius: 10px;
  box-shadow: #efefef 1px 1px 5px 5px;
  z-index: 1;
  display: none;
  font-family: monospace;
}
#toggle_nav span {
  line-height: 0;
  color: #303841;
}

@media screen and (max-width: 1100px) {
  #loading_page p {
    font-size: 2em;
  }
  #job {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 850px) {
  body {
    flex-direction: column;
  }
  nav {
    position: static;
    margin: auto;
  }
  #nav_links.toggle  {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }
  #nav_links {
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 25px;
    z-index: 1;
  }
  #nav_links::after {
    display: none;
  }
  #toggle_nav {
    display: block;
  }
  #page_content {
    padding: 0 25px;
  }
  #header_text {
    height: auto;
    padding: 50px 0;
  }
  #name {
    font-size: 1.3em;
  }
  #job {
    font-size: 2em;
  }
}
@media screen and (max-width: 600px) {
  #loading_page p {
    font-size: 1.5em;
  }
  #name {
    font-size: 1.1em;
  }
  #job {
    font-size: 1.6em;
    text-shadow: -2px 2px #303841,
                 -5px 5px lightgray;
  }
  #header_quote {
    font-size: 1.2em;
  }
  .section_title {
    font-size: 1em;
  }
  .project {
    padding: 5px;
  }
  h2 {
    font-size: 1.3em;
  }
  .projectText p {
    font-size: 1.2em;
  }
  .link_button {
    font-size: 1em;
  }
  form {
    width: 100%;
  }
  form p {
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 15px 0;
  }
}
@media screen and (max-width: 500px) {
  .project {
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }
  .project:nth-of-type(odd) {
    flex-direction: column;
  }
  .project img,
  .projectText {
    width: 100%;
  }
  .projectText {
    margin-top: 25px;
  }
}
